.health.--red {
	color: var(--focused-player-health-red);
}

.health.--red img {
	filter: url(#focused-player-health-red-from-white-filter);
}

img {
	height: var(--focused-player-icon-height);
}

.health .health-number {
	font-size: 0.5rem;

}

.health-number {
	font-size: 10;
}