.player-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center;
}

.player-wrapper.--left {
  justify-content: flex-start;
}

.player-wrapper.--right {
  justify-content: flex-end;
}

.player-unit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* PLAYER CARD */
.player {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 4px;
  min-width: 100px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  font-family: Inter, Roboto, sans-serif;
  font-size: 1.2rem;
}

/* DEAD STATE */
.player.dead {
  opacity: 0.4;
  filter: grayscale(100%);
}

/* TOP SECTION */
.top-wrapper {
  display: grid;
  grid-template-columns: 36px 1fr;
  gap: 4px;
  align-items: center;
}

.player-image img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 2px;
}

.top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAME BAR */
.name-kills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* T side red */
  color: #fff;
  border-radius: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

.Name {
  max-width: 65px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hp-number {
  font-size: 1.4rem;
  font-weight: 700;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  opacity: 0.9;
  padding: 0;
}

.Kills,
.Deaths,
.Money {
  display: flex;
  align-items: center;
  gap: 3px;
}

/* WEAPONS */
.weapons {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.weapons img,
.Grenades img {
  height: 12px;
  opacity: 0.9;
}

/* HP BAR BACKGROUND */
/* .healtharea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
} */

/* .HealthBar {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      #00ff87,
      #ffe600);
} */

/* FOCUSED PLAYER */
.FocusedPlayerHighlight {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.Roundkills {
  background-color: white;
  color: black;

}

.kill-death {
  display: flex;
  padding: 0;
}