.name-wrapper {
	font-size: 2.5rem;
	max-height: var(--top-bar-row-height);
}

.name {
	height: var(--top-bar-row-height);
}

.name.--ct {
	background: var(--counter-terrorists-fill-50);
}

.name.--t {
	background: var(--terrorists-fill-50);
}

img.logo {
	display: block;
	max-height: calc(100% - var(--top-bar-team-logo-vertical-spacing) * 2);
}

img.logo.--left {
	padding-right: var(--top-bar-team-logo-horizontal-spacing);
}

img.logo.--right {
	order: 1;
	padding-left: var(--top-bar-team-logo-horizontal-spacing);
}

.side.--left {
	background-color: var(--counter-terrorists-fill);
	width: 10px;
	height: 100%;
}

.side.--right {
	background-color: var(--terrorists-fill);
	width: 10px;
	height: 42px;
	position: absolute;
	transform: translateX(187px);
	justify-content: end;
}