.round-kills {
	grid-area: round-kills;
	display: flex;
	align-items: center;

	background-color: white;
	width: 20px;
	height: 20px;
	font-size: 1.6rem;
	justify-content: center;
	border-radius: 5px;
}

/* 
.round-kills.--right {
	justify-content: flex-end;
}

img.label {
	margin-right: 0.5rem;
}

.value {
	font-size: 1.6rem;
} */

.filter-black {
	filter: brightness(0%);
	/* Makes the image completely black */
}