.series-graph-wrapper {
	position: absolute;
	left: var(--viewport-margin-left);
	right: var(--viewport-margin-right);
	bottom: var(--viewport-margin-bottom);

	filter: var(--filter-drop-shadow);
	overflow: hidden;
}

.series-graph {
	display: flex;
	align-items: flex-end;

	max-height: 200px;
	/* set to real max height */
	overflow: hidden;

	transition:
		max-height var(--fade-slow-duration) ease,
		transform var(--fade-slow-duration) ease;
}

.series-graph:not(.--active) {
	max-height: 0;
	transform: translateY(101%);
}