.series-name {
	grid-area: series-name;

	display: grid;
	grid-template-columns: 4fr 5fr 4fr;
	grid-template-areas: 'left center right';
	width: 90%;
	margin: 0 auto;
}

.left,
.center,
.right {
	padding: 0.475rem;

	color: var(--black);
	font-size: 1.35rem;
}

.left,
.right {
	background: var(--white-50);
}

.left {
	grid-area: left;
}

.left .inner {}

.center {
	grid-area: center;

	background: var(--white-75);
	font-weight: 700;
	letter-spacing: 0.2em;
}

.right {
	grid-area: right;
}

.right .inner {}