.wrapper {
	display: flex;
	align-items: flex-end;
}

.health-and-armor {
	display: flex;
	flex: 1;
}

.inner {
	flex: 1;
	padding: 0.75rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
	transition: background-color var(--fade-fast-duration) ease;
}

img {
	height: 2rem;
}

.health-and-armor::before,
.health-and-armor::after {
	content: '';

	transition: background-color var(--fade-fast-duration) ease;
	z-index: -1;
}


.inner.--ct,
.health-and-armor.--ct::before,
.health-and-armor.--ct::after {
	/* background: var(--counter-terrorists-fill); */
}

.inner.--t,
.health-and-armor.--t::before,
.health-and-armor.--t::after {
	/* background: var(--terrorists-fill); */
}