.player-image {
	grid-area: image;

	display: flex;
	align-items: center;

	padding: 0 0.5rem;

	overflow: hidden;
	white-space: nowrap;
}

.player-image img {
	width: 24px;
	height: 24px;

	object-fit: cover;
	border-radius: 3px;

	flex-shrink: 0;
	display: block;
}

/* right-side alignment (same idea as .name.--right) */
.player-image.--right {
	justify-content: flex-end;
}
