.grenades {
	grid-area: grenades;

	display: flex;
	align-items: center;
}

.grenades .grenade {
	margin: 0 0.1rem;
}

.grenades .grenade img {
	height: 1.5rem;
	transition: opacity var(--fade-fast-duration) ease;
}

.grenades .grenade img:not(.--active) {
	opacity: 0.5;
}