.health-bar-background {
	grid-area: 1/start/1/end;

	display: grid;
	background: var(--black-30);
	z-index: -1;


	width: 150px;
	/* smaller width */
	height: 73.8px;
	/* smaller height */
	border-radius: 4px;
	/* optional: rounded edges */
}

.damage-taken,
.health {
	grid-area: 1/1;
	height: 100%;
}

.health {
	z-index: 1;
	height: 73.8px;

}

.damage-taken.--left,
.health.--left {
	transform-origin: right;
}

.damage-taken.--right,
.health.--right {
	transform-origin: left;
}

.health.--ct {
	background: var(--counter-terrorists-fill);
}

.health.--t {
	background: var(--terrorists-fill);
}

.damage-taken {
	background: var(--sidebar-damage-taken-fill);
	transition: transform var(--fade-default-duration) ease;
}